# виртуальное окружение
.venv/
venv/
catboost_info/

# данные и артефакты моделей
*.cbm
*.joblib
data/gitleaks_detection_dataset.csv
data/gitleaks_test_100.csv
data/gitleaks_test_100_results.csv
data/gitleaks_test_101.csv

# IDE / служебные файлы
.idea/
.vscode/
__pycache__/
*.pyc
